@layer base, theme, unsafe;

@layer base {
  :host {
    color-scheme: light dark;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: var(--color-foreground);
    background-color: var(--color-background);
    font-family: var(--font-inter), var(--default-font-family);
    font-weight: 400;

    --ft-level-gap: 16px;
    --ft-item-padding-x: 8px;
    --ft-item-margin-x: 2px;
    --ft-item-row-gap: 6px;
    --ft-icon-width: 12px;
    --ft-row-height: 30px;
  }

  /* LIST ITEM */
  [data-type='item'] {
    outline: none;
    background: transparent;
    border: none;
    width: 100%;
    position: relative;

    padding: 0 var(--ft-item-padding-x);
    margin: 0 var(--ft-item-margin-x);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    line-height: var(--ft-row-height);
    gap: var(--ft-item-row-gap);
    border-radius: var(--radius-sm);

    &:hover {
      background-color: var(--color-muted);
    }

    &:focus-visible {
      outline: none;
      background-color: var(--color-muted);
      box-shadow: inset 0 0 0 1px var(--color-neutral-300);
      z-index: 2;

      &[data-item-selected='true'] {
        box-shadow: inset 0 0 0 1px #008cff50;
      }
    }

    &[data-item-selected='true'] {
      background-color: #008cff1a;
      box-shadow: inset 0 0 0 1px #008cff26;
      z-index: 3;
    }
  }

  /* Flattened Directory Parts */
  [data-item-flattened-subitems] {
    display: inline-flex;
    align-items: center;
    gap: 2px;
  }
  [data-item-flattened-subitem]:hover {
    text-decoration: underline;
  }

  /* Icon for each item */
  [data-item-section='icon'] {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-muted-foreground);
    fill: currentColor;
    width: 12px;
  }

  /* Chevron rotation and visual alignment */
  /* Chevron pointing down */
  [data-icon-name='file-tree-icon-chevron'] {
    &[data-align-capitals='false'] {
      transform: translate(0, 1px);
    }
    &[data-align-capitals='true'] {
      transform: translate(0, 0);
    }
  }

  /* Chevron pointing right */
  [aria-expanded='false'][data-item-type='folder']
    > [data-item-section='icon']
    > [data-icon-name='file-tree-icon-chevron'] {
    &[data-align-capitals='true'] {
      transform: rotate(-90deg) translate(0.5px, 0.5px);
    }
    &[data-align-capitals='false'] {
      transform: rotate(-90deg) translate(-0.5px, 0.5px);
    }
  }

  /* LIST IDENTATION */
  /* Spacing container */
  [data-item-section='spacing'] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: var(--ft-row-height);
    padding-left: calc(calc(var(--ft-icon-width) / 2) - 0.5px);

    &:empty {
      padding-left: 0;
    }
  }

  /* Spacing per level */
  [data-item-section='spacing-item'] {
    transform: translateX(-0.25px);
    display: inline-block;
    border-left: 1px solid var(--color-border);
    height: 100%;
    margin-right: calc(var(--ft-level-gap) - 1px);

    & + & {
      margin-left: calc(
        var(--ft-item-row-gap) + calc(var(--ft-icon-width) / 2) - 0.5px
      );
    }
  }
  [data-item-selected='true'],
  [data-type='item']:focus-visible {
    & [data-item-section='spacing-item'] {
      height: calc(100% - 2px);
    }
  }
}
